body{
  margin: 0;
  padding: 0;
  background-color: #1f6650;
  height: 100%;
  width: 100%
  background-position: center;
  /*font-family: sans-serif;*/
  font-family: 'Open Sans', sans-serif;

}
img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -8;
  opacity: 0.2;

}
        /* PLAYER 1 */

.player1{
    width: 320px;
    height: 600px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    /* padding: 70px 30px; */
    padding: 35px 30px 70px 30px;
    border-radius: 15px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}

.player1 p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.player1 input{
  width: 100%;
  margin-bottom: 20px;
}

.player1 input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}



#submit:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.player1 a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  
}

.player1 a:hover
{
  color: #ffc107;
}

header h2{
  font-size: 45px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  padding-top: 60px;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  margin-top: 0px;
}

        /* PLAYER 2 */



h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
}

#submit {
  border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}




#link{
  width: 130PX;
  margin: 0 auto;
}












































